*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "nav"
    "quienes-somos"
    "main"
    "contacto"
    "final"
    "footer";
}

.color-acento{ color:blueviolet; }

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    background-color: #000000;
    grid-area: nav;
    align-items: center;
}

nav .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #d1d1d1;
    font-size: 18px;
}

nav a:hover{
    color: blueviolet;
}

#quienes-somos {
    grid-area: quienes-somos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify;
    padding: 50px 12px;
    font-size: 18px;
    align-items: stretch;
}

#galeria {
    grid-area: main;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

#galeria .container.main {
    padding: 50px 12px;
    
}

#galeria h2 {
    margin-top: 0;
    font-size: 20px;
    
}

#galeria p {
    padding: 20px;
    text-align: justify;
    text-align: center;
    font-size: 18px;
   /* display: none;*/

} 

#galeria .carta {
    background-position: center center;
    background-size: cover;
    padding-top: 15px;
    padding: 1px;
    margin: 20px;
    border-radius: 15px;
    flex-wrap: wrap;
}

h1 .i {
    font-size: 300px;
    color: rgb(102, 0, 0);
    transition: all 4000ms;
}

h1:hover, i:hover {
    transform: scale(1.15)
     }

figure{
    display: flex;
    display: grid;
    width: auto;
    margin: 1rem;
    grid-gap: 10px;
}
    
figure img{
        width: 100%;
        transition: all 500ms;
        position: relative;
        border-radius: 15px;
    }

figure img:hover{
        transform: scale(1.15);
    }

.carta:nth-child(1) {
    background-image: linear-gradient(
        0deg,
        #00000080,
        #00000080
    )

}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        #00000080,
        #00000080
    )

}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        #00000080,
        #00000080
    )

}

.carta:nth-child(4) {
    background-image: linear-gradient(
        0deg,
        #00000080,
        #00000080
    )

}

.carta:nth-child(5) {
    background-image: linear-gradient(
        0deg,
        #00000080,
        #00000080
    )
}

#contacto {
    grid-area:contacto;
    text-align: center;
    padding: 60px 12px;
}

#contacto li {
    margin: 16px 0px;
    font-weight: bold;
}

ul {
    list-style: none;
}

#final {
    padding: 15px;
    grid-area: final;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
    height: 80vh;
}

#final h2 {
    font-size: 9vw;
}

footer {
    grid-area: footer;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
}

footer .p .i {
    margin: 0;
    padding: 30px;
    color: #646464;
}


i { 
    margin-top: 40px;
    padding: 5px;
    justify-content: center;
}

h1 {
    color:blueviolet; 
    font-size: 20px;
    padding: 1rem;  
}

/*__________MEDIA_________*/
@media screen and (min-width: 576px) {
    .hide-menu {
        display: none;
    }

nav a {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    padding-right: 20px;
    }

.container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
            "nav quienes-somos"
            "nav main"
            "nav main"
            "nav contacto"
            "nav final"
            "footer footer"; 
         }

.quienes-somos {
            background-color: #cccccc;
            color: white;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
        }

main {
            background-color: #313131;;
            grid-area: main;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
    
.container-main {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }


/*__________MEDIA_________*/

@media screen and (min-width: 992px) {
    .hide-menu {
        display: none;
    }

    nav .a {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 500;
    }

    .container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
            "nav quienes-somos"
            "nav main "
            "nav main"
            "contacto contacto"
            "final final"
            "footer footer";
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 90%;
    }

    nav .logo {
        padding-left: 5%;
        font-size: 18px;
    }

    nav a {
        color: #ccc;
        padding: 5%;
    }

    .quienes-somos {
        grid-area: quienes-somos;
    }

    main {
        background-color:  #313131;
        grid-area: main;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .contacto {
        grid-area: contacto;
    }

    .final {
        grid-area:final;
        font-size: 45px;
    }

    footer  {
        grid-area: footer;
        background-color: #e6e6e6;
    }

    footer .a {
            list-style: none;  
    }
    
    @media screen and (max-width: 576px) {
        nav ul {
            display: none;
        }

        .checkbtn{
            display: block;
        }

        .coin-card-hide{
            display: none;
        }
    }